<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netdisk.mapper.StorageObjectMapper">

    <select id="findBySha256AndSize" resultType="com.netdisk.pojo.entity.StorageObject">
        SELECT id, object_uuid, sha256, md5, size_bytes, mime_type, storage_provider, bucket_name, object_key, storage_class, created_at, updated_at
        FROM storage_objects
        WHERE sha256 = #{sha256}
          AND size_bytes = #{sizeBytes}
        LIMIT 1
    </select>

    <select id="findById" resultType="com.netdisk.pojo.entity.StorageObject">
        SELECT id, object_uuid, sha256, md5, size_bytes, mime_type, storage_provider, bucket_name, object_key, storage_class, created_at, updated_at
        FROM storage_objects
        WHERE id = #{id}
        LIMIT 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO storage_objects (object_uuid, sha256, md5, size_bytes, mime_type, storage_provider, bucket_name, object_key, storage_class,
                                     created_at, updated_at)
        VALUES (#{objectUuid}, #{sha256}, #{md5}, #{sizeBytes}, #{mimeType}, #{storageProvider}, #{bucketName}, #{objectKey}, #{storageClass},
                NOW(), NOW())
    </insert>

    <delete id="deleteById">
        DELETE
        FROM storage_objects
        WHERE id = #{id}
    </delete>

</mapper>
